<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>e7</BK1>
  <BK2>f7</BK2>
  <Col3>57</Col3>
  <Reversed>True</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>128</charcode>
    <chardata>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>191</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>129</charcode>
    <chardata>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>130</charcode>
    <chardata>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>255</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>131</charcode>
    <chardata>
      <data>170</data>
      <data>255</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>132</charcode>
    <chardata>
      <data>0</data>
      <data>15</data>
      <data>63</data>
      <data>63</data>
      <data>243</data>
      <data>255</data>
      <data>60</data>
      <data>252</data>
    </chardata>
  </character>
  <character>
    <charcode>133</charcode>
    <chardata>
      <data>255</data>
      <data>252</data>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>207</data>
    </chardata>
  </character>
  <character>
    <charcode>134</charcode>
    <chardata>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>63</data>
      <data>63</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>135</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>252</data>
      <data>207</data>
      <data>255</data>
      <data>63</data>
      <data>255</data>
      <data>252</data>
    </chardata>
  </character>
  <character>
    <charcode>136</charcode>
    <chardata>
      <data>240</data>
      <data>240</data>
      <data>252</data>
      <data>204</data>
      <data>252</data>
      <data>240</data>
      <data>252</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>137</charcode>
    <chardata>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>252</data>
      <data>60</data>
      <data>204</data>
      <data>240</data>
      <data>192</data>
    </chardata>
  </character>
  <character>
    <charcode>138</charcode>
    <chardata>
      <data>240</data>
      <data>240</data>
      <data>243</data>
      <data>255</data>
      <data>252</data>
      <data>240</data>
      <data>240</data>
      <data>240</data>
    </chardata>
  </character>
  <character>
    <charcode>139</charcode>
    <chardata>
      <data>255</data>
      <data>204</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>140</charcode>
    <chardata>
      <data>15</data>
      <data>3</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>141</charcode>
    <chardata>
      <data>87</data>
      <data>95</data>
      <data>83</data>
      <data>95</data>
      <data>127</data>
      <data>124</data>
      <data>79</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>142</charcode>
    <chardata>
      <data>93</data>
      <data>223</data>
      <data>252</data>
      <data>252</data>
      <data>207</data>
      <data>255</data>
      <data>252</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>143</charcode>
    <chardata>
      <data>85</data>
      <data>245</data>
      <data>53</data>
      <data>253</data>
      <data>253</data>
      <data>207</data>
      <data>252</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>144</charcode>
    <chardata>
      <data>127</data>
      <data>127</data>
      <data>124</data>
      <data>115</data>
      <data>127</data>
      <data>127</data>
      <data>95</data>
      <data>93</data>
    </chardata>
  </character>
  <character>
    <charcode>145</charcode>
    <chardata>
      <data>255</data>
      <data>240</data>
      <data>255</data>
      <data>207</data>
      <data>255</data>
      <data>255</data>
      <data>77</data>
      <data>125</data>
    </chardata>
  </character>
  <character>
    <charcode>146</charcode>
    <chardata>
      <data>252</data>
      <data>207</data>
      <data>255</data>
      <data>253</data>
      <data>205</data>
      <data>253</data>
      <data>213</data>
      <data>213</data>
    </chardata>
  </character>
  <character>
    <charcode>147</charcode>
    <chardata>
      <data>125</data>
      <data>125</data>
      <data>125</data>
      <data>125</data>
      <data>125</data>
      <data>125</data>
      <data>60</data>
      <data>207</data>
    </chardata>
  </character>
  <character>
    <charcode>148</charcode>
    <chardata>
      <data>85</data>
      <data>90</data>
      <data>91</data>
      <data>111</data>
      <data>191</data>
      <data>190</data>
      <data>191</data>
      <data>187</data>
    </chardata>
  </character>
  <character>
    <charcode>149</charcode>
    <chardata>
      <data>165</data>
      <data>249</data>
      <data>254</data>
      <data>255</data>
      <data>239</data>
      <data>254</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>150</charcode>
    <chardata>
      <data>85</data>
      <data>85</data>
      <data>165</data>
      <data>249</data>
      <data>254</data>
      <data>190</data>
      <data>249</data>
      <data>249</data>
    </chardata>
  </character>
  <character>
    <charcode>151</charcode>
    <chardata>
      <data>190</data>
      <data>191</data>
      <data>110</data>
      <data>89</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>152</charcode>
    <chardata>
      <data>255</data>
      <data>191</data>
      <data>107</data>
      <data>86</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>153</charcode>
    <chardata>
      <data>249</data>
      <data>190</data>
      <data>254</data>
      <data>185</data>
      <data>101</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>154</charcode>
    <chardata>
      <data>85</data>
      <data>215</data>
      <data>215</data>
      <data>117</data>
      <data>85</data>
      <data>87</data>
      <data>95</data>
      <data>223</data>
    </chardata>
  </character>
  <character>
    <charcode>155</charcode>
    <chardata>
      <data>117</data>
      <data>117</data>
      <data>117</data>
      <data>85</data>
      <data>125</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>156</charcode>
    <chardata>
      <data>85</data>
      <data>87</data>
      <data>87</data>
      <data>221</data>
      <data>85</data>
      <data>213</data>
      <data>245</data>
      <data>247</data>
    </chardata>
  </character>
  <character>
    <charcode>157</charcode>
    <chardata>
      <data>95</data>
      <data>127</data>
      <data>127</data>
      <data>255</data>
      <data>127</data>
      <data>127</data>
      <data>127</data>
      <data>223</data>
    </chardata>
  </character>
  <character>
    <charcode>158</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>125</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>125</data>
      <data>215</data>
    </chardata>
  </character>
  <character>
    <charcode>159</charcode>
    <chardata>
      <data>245</data>
      <data>253</data>
      <data>253</data>
      <data>255</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>247</data>
    </chardata>
  </character>
  <character>
    <charcode>160</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>161</charcode>
    <chardata>
      <data>95</data>
      <data>95</data>
      <data>87</data>
      <data>117</data>
      <data>117</data>
      <data>215</data>
      <data>87</data>
      <data>93</data>
    </chardata>
  </character>
  <character>
    <charcode>162</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>125</data>
      <data>85</data>
      <data>93</data>
      <data>93</data>
      <data>93</data>
    </chardata>
  </character>
  <character>
    <charcode>163</charcode>
    <chardata>
      <data>245</data>
      <data>245</data>
      <data>215</data>
      <data>85</data>
      <data>117</data>
      <data>93</data>
      <data>215</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>164</charcode>
    <chardata>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>165</charcode>
    <chardata>
      <data>85</data>
      <data>213</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>87</data>
    </chardata>
  </character>
  <character>
    <charcode>166</charcode>
    <chardata>
      <data>85</data>
      <data>93</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>85</data>
      <data>117</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>167</charcode>
    <chardata>
      <data>20</data>
      <data>85</data>
      <data>117</data>
      <data>125</data>
      <data>255</data>
      <data>125</data>
      <data>93</data>
      <data>20</data>
    </chardata>
  </character>
  <character>
    <charcode>168</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>12</data>
      <data>243</data>
      <data>252</data>
      <data>60</data>
      <data>192</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>169</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>192</data>
      <data>48</data>
      <data>252</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>170</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>204</data>
      <data>3</data>
      <data>192</data>
      <data>204</data>
      <data>12</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>171</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>3</data>
      <data>51</data>
      <data>12</data>
      <data>60</data>
    </chardata>
  </character>
  <character>
    <charcode>172</charcode>
    <chardata>
      <data>1</data>
      <data>6</data>
      <data>25</data>
      <data>21</data>
      <data>21</data>
      <data>101</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>173</charcode>
    <chardata>
      <data>85</data>
      <data>85</data>
      <data>29</data>
      <data>5</data>
      <data>5</data>
      <data>37</data>
      <data>21</data>
      <data>86</data>
    </chardata>
  </character>
  <character>
    <charcode>174</charcode>
    <chardata>
      <data>85</data>
      <data>125</data>
      <data>85</data>
      <data>21</data>
      <data>23</data>
      <data>21</data>
      <data>5</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>175</charcode>
    <chardata>
      <data>213</data>
      <data>213</data>
      <data>103</data>
      <data>89</data>
      <data>93</data>
      <data>101</data>
      <data>85</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>176</charcode>
    <chardata>
      <data>91</data>
      <data>87</data>
      <data>86</data>
      <data>101</data>
      <data>117</data>
      <data>85</data>
      <data>84</data>
      <data>5</data>
    </chardata>
  </character>
  <character>
    <charcode>177</charcode>
    <chardata>
      <data>64</data>
      <data>65</data>
      <data>85</data>
      <data>85</data>
      <data>149</data>
      <data>221</data>
      <data>101</data>
      <data>85</data>
    </chardata>
  </character>
  <character>
    <charcode>178</charcode>
    <chardata>
      <data>192</data>
      <data>80</data>
      <data>80</data>
      <data>80</data>
      <data>156</data>
      <data>87</data>
      <data>85</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>179</charcode>
    <chardata>
      <data>85</data>
      <data>148</data>
      <data>117</data>
      <data>85</data>
      <data>123</data>
      <data>85</data>
      <data>84</data>
      <data>80</data>
    </chardata>
  </character>
  <character>
    <charcode>180</charcode>
    <chardata>
      <data>85</data>
      <data>84</data>
      <data>84</data>
      <data>88</data>
      <data>80</data>
      <data>64</data>
      <data>192</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
